<div *ngIf="!loadPage"class="spinner-grow" style="margin-top:20rem;margin-left: 48%;margin-right: 48%; width: 3rem; height: 3rem;" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div *ngIf="loadPage">
<table class="table table-bordered" style="margin-top:10rem;max-width: 80rem;margin-left: auto;margin-right: auto;">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col">Prix</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td><img src={{item.img_src}} alt="" style="width: 7rem;height: 6rem;"></td>
        <td>{{ item.name }}</td>
        <td>{{item.desc}}</td>
        <td style="width: 10rem;">{{item.prix|prix}}</td>
        <td style="text-align: center;vertical-align: middle;width: 9rem;"> <button (click)="OnEdit(item)" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editModal"> <fa-icon [icon]="faedit"></fa-icon> </button> <button (click)="OnDelate(item.id)" class="btn btn-outline-danger"> <fa-icon [icon]="fatrash"></fa-icon> </button>
        </td>
      </tr>
    </tbody>
  
  <div style="margin-right: auto;margin-left: auto;">
  <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#ajoutModal">ajout d'un produit <fa-icon [icon]="faplus"></fa-icon></button></div>
</table>


  <!-- Modal edit -->
<div class="modal fade" id="editModal" tabindex="-1"  data-bs-keyboard="false" data-bs-backdrop="static"  style="margin-top: 10rem;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Editer produit</h5>
        </div>
        <form class="modal-body" #fEdit="ngForm">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Nom : </span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                 aria-describedby="inputGroup-sizing-sm" ngModel={{itemEdit.name}} #name="ngModel" name="name">
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Prix : </span>
                <input type="number" class="form-control" aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-sm" ngModel={{itemEdit.prix}} #prix="ngModel" name="prix">
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Image : </span>
                <input type="text" class="form-control" aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-sm" ngModel={{itemEdit.img_src}} #img_src="ngModel" name="img_src">
              </div>
              <div class="input-group">
                <span class="input-group-text">Description :</span>
                <textarea class="form-control" aria-label="With textarea" ngModel={{itemEdit.desc}} #desc="ngModel" name="desc"></textarea>
              </div>
        
        <div class="modal-footer">
          <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancel(fEdit)">Close</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSave(itemEdit.id,fEdit.value)">Save changes</button>
        </div>
    </form>
      </div>
    </div>
  </div>


    <!-- Modal Ajout -->
<div class="modal fade" id="ajoutModal" tabindex="-1"  data-bs-keyboard="false" data-bs-backdrop="static"  style="margin-top: 10rem;">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">{{ itemEdit.name }}</h5>
          </div>
          <form class="modal-body" #fAdd="ngForm">
              <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text">Nom : </span>
                  <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-sm" #name="ngModel" ngModel name="name">
                </div>
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text">Prix : </span>
                  <input type="number" class="form-control" aria-label="Sizing example input" 
                  aria-describedby="inputGroup-sizing-sm" #prix="ngModel" ngModel name="prix">
                </div>
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text">Image : </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" 
                  aria-describedby="inputGroup-sizing-sm" #img_src="ngModel" ngModel name="img_src">
                </div>
                <div class="input-group">
                  <span class="input-group-text">Description :</span>
                  <textarea class="form-control" aria-label="With textarea" #desc="ngModel" ngModel name="desc"></textarea>
                </div>
          
          <div class="modal-footer">
            <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancel(fAdd)">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="onAdd(fAdd.value)">Save changes</button>
          </div>
      </form>
        </div>
      </div>
  </div>

</div>