<table class="table table-striped" style="margin-top:10rem;max-width: 80rem;margin-left: auto;margin-right: auto;">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col">Quantité</th>
        <th scope="col" style="text-align: right;">Prix</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of this.itemsIN">
        <td><img src={{item.img_src}} alt="" style="width: 7rem;height: 6rem;"></td>
        <td>{{ item.name }}</td>
        <td>{{item.desc}}</td>
        <td style="text-align: center;">{{item.qte}}</td>
        <td style="width:12%;text-align: right;">{{item.prix|prix}}</td>
      </tr>
    </tbody>
    <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <th class="table-active">Total</th>
          <td class="table-active" style="text-align: right;">{{somme|prix}} </td>
        </tr>
    </tfoot>
  </table>