<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home" style="margin-right: 2rem;">Boutique</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home" style="margin-right: 2rem;"  *ngIf="isAuth">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" style="margin-right: 2rem;" *ngIf="!isAuth">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" style="margin-right: 2rem;" *ngIf="!isAuth">Register</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product" style="margin-right: 2rem;" *ngIf="isAuth">Produit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gestionproduit" style="margin-right: 2rem;" *ngIf="isAuth&&role">Gestion des produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gestionusers" style="margin-right: 2rem;" *ngIf="isAuth&&role">Gestion des utilisateurs</a>
        </li>
        </ul>
        <div class="d-flex flex-row-reverse" *ngIf="isAuth">
          <div class="p-2">
          <button type="button" class="btn btn-light position-relative"><a routerLink="/panier">
            <img src="https://img.icons8.com/ios/30/000000/shopping-cart-loaded--v2.png"/>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              
              {{panier}}
              
              <span class="visually-hidden">unread messages</span>
            </span></a>
          </button>
          </div>
          <div class="p-2">
          <button class="btn btn-outline-danger" (click)="deconnexion()" >Deconnexion</button>
          </div>
          <div class="p-2">
            <button class="btn btn-outline-secondary" routerLink="profil"><fa-icon [icon]="fauser"></fa-icon> Profil</button>
            </div>
        </div>
      </div>
    </div>
  </nav>


  <div class="alert alert-danger myalert" role="alert" [class.myalertfadein]="alertAnimation" [class.myalertfadeout]="!alertAnimation" *ngIf="alertShow">
    {{aMsg}}
  </div>
  <div class="alert alert-success myalert" role="alert" [class.myalertfadein]="successAnimation" [class.myalertfadeout]="!successAnimation" *ngIf="successShow">
    {{msg}}
  </div>

<div [class.myalertfadein]="pAlertAnimation" [class.myalertfadeout]="!pAlertAnimation" *ngIf="pAlertShow">
  <div class="modal-dialog" style="z-index:1;">
    <div class="modal-content">

      <div class="modal-body">
        <p>Produit ajouter avec succes </p>
      </div>

    </div>
  </div>
  <div class="modal-backdrop" style="opacity: 50%;z-index:0;">
  </div>

</div>


