<div class="card mb-3 card-profil">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="myProfil.url_img" class="rounded-circle" style="clip-path:ellipse(50% 50%); width: 15rem;height: 15rem;margin-left: auto;margin-right: auto;" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">My profile : {{myProfil.username}} </h5>
          <p class="card-text">Email adresse : {{myProfil.email}} </p>
          <button class="btn btn-outline-secondary">change password</button>
          <p class="card-text" style="display:none"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div >

  