<div  style="max-width: 50%;margin-left: auto;margin-right: auto;margin-top: 5%;">
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="mb-3" >
      <label class="form-label" [class.text-danger]="email.invalid&&email.touched" [class.text-success]="email.valid&&email.touched">Email address</label>
      <input type="email" class="form-control" [class.is-valid]="email.valid&&email.touched" [class.is-invalid]="email.invalid&&email.touched" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel" ngModel name="email" required>
      <div class="form-text">We'll never share your email with anyone else.</div>
      <small  *ngIf=" email.errors?.['pattern']" class="text-danger">Format email non valid</small>
      <small *ngIf="email.touched&&email.errors?.['required']" class="text-danger">email obligatoire</small>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" #pwd="ngModel" ngModel name="pwd" required>
    </div>
    <div *ngIf="verifconnect" class="alert alert-danger"> {{verifconnect}} </div>
    <button class="btn btn-primary" [disabled]="f.invalid">Connect</button>
  </form>
</div>