
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="height: 700px;width: 800px;margin-left: auto;margin-right: auto;">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src={{firstItem.img_src}} class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000" *ngFor="let item of items.slice(1)">
        <img src={{item.img_src}} class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
      </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  